/Excepciones/nbproject/private/
/dados/nbproject/private/
/dados/build/
/Excepciones/build/
/04Excepciones/nbproject/private/
/05StringBuilder/nbproject/private/
/05StringBuilder/build/
/03StringBuilder/nbproject/private/
/05ExpresionesRegulares/nbproject/private/
/05ExpresionesRegulares/build/
/07Collections/nbproject/private/
/07Collections/build/